#gap {
    font-size : 40px;
    font-family : Georgia, Serif;
    color : white;
    text-align : left;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color : maroon;
}

#box {
	background-color: threeddarkshadow;
	opacity : 0.8;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 10px;
    height: 800px;
}